* {
    margin: 0;
    padding: 0;
    font-family: 黑体;
}

body {
    background-color: #eee;
}

button {
    outline: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}

table {
    border-collapse: collapse;
}

.placeholder {
    display: block;
    height: 3rem;
    width: 100%;
}

.placeholder2 {
    display: block;
    height: 2rem;
    width: 100%;
}

.full_img {
    width: 100%;
    height: 100%;
}

.block {
    background-color: #fafafa;
    margin-top: 0.5rem;
    padding: 0.2rem;
}

.block:after {
    content: "";
    clear: both;
    display: block;
}

.blocktitle {
    text-align: center;
    color: #666666;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.menu_line {
    width: 96%;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    border-bottom: 1px #eee solid;
    padding: 0 2%;
    display: flex;
}

.navibar {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    background-color: #eb9c01;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.topbar_button {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    padding: 0.5rem;
    float: left;
}

.topbarmiddle {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
}